@import "materialize/components/color";
$primary-color: color("materialize-red", "lighten-2");
@import "materialize/materialize";

#mapwrapper {
  position: absolute;
  left: 0; right: 0; top: 0; bottom: 0;
}

.search {
  position: absolute;
  z-index: 9;
  top: 10px;
  left: 90px;

  $searchbar-height: 2.5rem;

  input {
    margin-bottom: 0;
    padding: 0 10px;
    width: 400px;
    border: none;
    vertical-align: middle;
    height: $searchbar-height;

    &:focus {
      border: none !important;
    }
  }

  .btn {
    height: 100%;
    vertical-align: middle;
    height: $searchbar-height;
    line-height: $searchbar-height;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;

    .preloader-wrapper {
      display: none;
      width: 20px;
      height: 20px;
      vertical-align: text-bottom;

      .spinner-layer {
        border-color: white;
      }
    }

    &.loading {
      i {
        display: none;
      }
      .preloader-wrapper {
        display: inline-block;
      }
    }
  }

  .card-panel, .card {
    margin-bottom: 0;
  }

  .output {
    display: none;

    .collection {
      max-height: 400px;
      border: none;
      margin: 0;
      overflow-y: auto;

      .collection-item {
        cursor: pointer;

        .name {
          font-weight: bold;
        }

        .moreinfo {
           color: #666;
           font-size: .8em;
        }
      }
    }
  }
}

.layers {
  position: absolute;
  bottom: 5px;
  right: 15px;

  label {
    color: #2d2d2d;
  }
}


.no-padding {
  padding: 0;
}

.small-padding {
  padding: 10px 15px;
}

#mapregion {
  position: absolute;
  left: 0; right: 0; top: 0; bottom: 0;
}


.gm-style {
  h3 {
    font-size: 16px;
    font-weight: bold;
    margin: 10px 0;
    line-height: 1;
  }

  table {
    td {
      padding: 10px 5px;
    }
  }
}